{% extends "ap.j2" %}

{% block summary %}
    <p>Dit is een basis applicatieprofiel op het <a href="https://test.data.vlaanderen.be/ns/dossier" target="_blank">OSLO Dossier Vocabularium.</a></p>

    <p>Het conceptueel informatiemodel vormt de basis voor de uitwisseling van dossiergegevens tussen verschillende diensten. Het definieert een aantal abstracte entiteiten, relevante eigenschappen en hun onderlinge relaties. Dit conceptueel informatiemodel vormt de basis voor ontwikkelaars en databankbeheerders om verder uit te werken tot een fysiek datamodel. Het vocabularium geeft een overzicht van de gebruikte terminologie en daaraan gekoppeld definities, het basis applicatieprofiel brengt deze termen samen in een generieke specificatie voor gegevensuitwisseling.</p>

    <p>Ter illustratie zijn voorbeeld use cases uitgewerkt in <a href="OSLO-Dossier_html-documentatie_use-cases_v1.pdf"  target="_blank">dit document.</a></p>

{% endblock %}

{% block license %}
    <p><span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text" xmlns:dct="http://purl.org/dc/terms/">Deze specificatie</span> van <a rel="cc:attributionURL" property="cc:attributionName" href="http://vlaanderen.be/facilitairbedrijf" xmlns:cc="http://creativecommons.org/ns#">Het Facilitair Bedrijf</a> is gepubliceerd onder de <a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html" rel="license">"Modellicentie Gratis Hergebruik - v1.0"</a>.</p>
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="https://test.data.vlaanderen.be/context/dossier.jsonld" target="_blank">https://test.data.vlaanderen.be/context/dossier.jsonld</a></p>
{% endblock %}
